################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RT_Lagr/FileContentIndex/33217f84-971b-4bb6-8954-a26102cde9ce.vsidx
/.vs/RT_Lagr/FileContentIndex/579ae173-7633-41da-a3b0-248f6818a071.vsidx
/.vs/RT_Lagr/FileContentIndex/a0efb9a8-1125-4b26-839c-51ca5fcb510e.vsidx
/.vs/RT_Lagr/FileContentIndex/d2d2093b-e9a6-4c8c-8434-98d61dcb3709.vsidx
/.vs/RT_Lagr/FileContentIndex/d8f3c33f-9495-4a65-b2aa-1862090b4ebb.vsidx
/.vs/RT_Lagr/FileContentIndex/353e348f-a1fb-45ca-816c-d32e185a02b2.vsidx
/.vs/RT_Lagr/FileContentIndex/dc3cc162-96c2-4dff-a818-e03191607987.vsidx
/.vs/RT_Lagr/FileContentIndex/3d4cdb16-0c1e-4137-a5af-6af6a0f15372.vsidx
/.vs/RT_Lagr/FileContentIndex/644df774-a43d-4659-9a18-b664075351b6.vsidx
/.vs/RT_Lagr/FileContentIndex/6b5dc393-417e-4847-8189-37bbe1f81901.vsidx
/.vs/RT_Lagr/FileContentIndex/a83f0e40-aae7-4ae3-9bae-a731baff4095.vsidx
/.vs/1D_RT_code/FileContentIndex/05301ac0-909c-4a72-8af6-167a9c279eda.vsidx
/.vs/1D_RT_code
/.vs/RT_Lagrange
/.vs/RT_Lagr/FileContentIndex
/.vs/RT_Lagr/v17/.suo
/.vs/RT_Lagr_bor/FileContentIndex/be035cdb-096f-4ab7-8572-69238c3d9c66.vsidx
/.vs/RT_Lagr_bor/FileContentIndex
/.vs/TR_1D_oper/FileContentIndex/cb692596-8548-4960-8c20-f05ff9c45f27.vsidx
